*:focus {
  outline: none;
}

input::placeholder {
  color: lightgray;
}
.input-src {
  position: relative;
  font-weight: 400 !important;
  border: solid 1px white;
  background-color: transparent;
  font-size: 1rem;
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.032),
    0 22.3px 17.9px rgba(0, 0, 0, 0.048), 0 100px 80px rgba(0, 0, 0, 0.08);
}
.form-control {
  color: #d1d1d1;
  background-color: transparent;
  :focus {
    color: #d1d1d1;
    background-color: transparent;
  }
}
.results {
  background: white;
  padding: 0;
  margin-top: 0.5rem;
  border-radius: 1rem;
  width: 100%;
  position: absolute;
  z-index: 1;
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.032),
    0 22.3px 17.9px rgba(0, 0, 0, 0.048), 0 100px 80px rgba(0, 0, 0, 0.08);

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    /*display: co;*/

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 400;

      /*background-color: red;*/
      padding: 0.5rem;
      border-bottom: solid 1px #f1f1f1;

      &:hover .name {
        background-color: #42e77b;
      }

      &:last-child {
        border-bottom: transparent;
      }

      .name {
        padding: 0.35rem;
        border-radius: 1rem;
        transition: all ease 150ms;

        /*background-color: red;*/
      }

      img {
        width: 30px;
        border-radius: 1rem;
      }
    }
  }
}

.form-control:focus {
  color: #d1d1d1;
  background-color: transparent;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
