<div class="container-fluid py-4">
  <div class="wrapper px-0">
    <div class="limit-width">
      <app-filtering
        [isLoading]="isLoading"
        (onChange)="onChange($event)"
        (search)="search($event)"
      ></app-filtering>
      

      <app-suggestion
        [suggestion]="suggestion"
        [showSuggestion]="showSuggestion"
      ></app-suggestion>
    </div>
  </div>

  <ng-container *ngIf="data$; else loading">
    <div *ngIf="data$.length === 0; else data">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center">
          <span class="display-1 d-block text-white">404</span>
          <div class="mb-4 lead text-white">No encontramos nada.</div>
        </div>
      </div>
    </div>
    <ng-template #data>
      <app-listing [data$]="data$"></app-listing>
    </ng-template>
  </ng-container>

  <ng-template #loading>
    <div class="d-flex justify-content-center align-items-center">
      <div *ngIf="isLoading" class="spinner-border text-light" role="status">
        <span class="visually-hidden"></span>
      </div>
    </div>
  </ng-template>
</div>
