/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #0d1117;
  font-weight: 400;
}

a {
  text-decoration: none;
}

*:focus {
  outline: none;
}

input::placeholder {
  color: lightgray;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
}

.input-src {
  position: relative;
  font-weight: 400 !important;
  border: solid 1px white;
  background-color: transparent;
  font-size: 1rem;
  width: 100%;
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.032),
    0 22.3px 17.9px rgba(0, 0, 0, 0.048), 0 100px 80px rgba(0, 0, 0, 0.08);
}

.limit-width {
  position: relative;
  width: 75%;
}

.btn.loading {
  background-image: url("./assets/images/loading.svg");
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: center;
  width: 2rem;
}

.card {
  background-color: #010409 !important;
  color: white !important;
  border-radius: 1rem;
}

.card-img {
  opacity: 0.5;
  border-radius: 1rem;
}

.badge {
  font-size: 100% !important;
}

.results {
  background: white;
  padding: 0;
  margin-top: 0.5rem;
  border-radius: 1rem;
  width: 100%;
  position: absolute;
  z-index: 1;
  box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.032),
    0 22.3px 17.9px rgba(0, 0, 0, 0.048), 0 100px 80px rgba(0, 0, 0, 0.08);

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    /*display: co;*/

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 400;

      /*background-color: red;*/
      padding: 0.5rem;
      border-bottom: solid 1px #f1f1f1;

      &:hover .name {
        background-color: #42e77b;
      }

      &:last-child {
        border-bottom: transparent;
      }

      .name {
        padding: 0.35rem;
        border-radius: 1rem;
        transition: all ease 150ms;

        /*background-color: red;*/
      }

      img {
        width: 30px;
        border-radius: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
    .limit-width{
        width: 100%;
    }
}
