/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #0d1117;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.btn.loading {
  background-image: url("./assets/images/loading.svg");
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: center;
  width: 2rem;
}

.card {
  background-color: #010409 !important;
  color: white !important;
  border-radius: 1rem;
}

.card-img {
  opacity: 0.5;
  border-radius: 1rem;
}

.badge {
  font-size: 100% !important;
}
